@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    background: linear-gradient(135deg,#21457c,#72008f);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.container{
    background-color: #ffffff2f;
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(40, 40, 40, 0.2) 
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
    color: white;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #607dfe8a;
    border-radius: 30px;
  }

#generate-btn{
    background: linear-gradient(45deg,#667eea,#764ba2);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

#generate-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

#generate-btn:active{
    transform: translateY(0);
}

.palette-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
}

.color-box{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.197);
    transition: transform 0.2s;
}
.color-box:hover{
    transform: translateY(-5px);
}

.color{
    height: 120px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* place the info bar at the bottom */
}
.color-info {
    background-color: #fff;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
  }